@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    color: black;
}
.profile_text{
    font-family: 'DungGeunMo';
    color:black;
    flex:0.8;

    font-size: 13px;
    text-align: center;
}
.profile{


    flex:1;
    background-image: url("profile.PNG");
    background-size: cover;
    border-radius: 9px;
     
   
    margin: 30px;

}
body{

    font-family: 'Cafe24Ssurround';
    background-image: url("pattern.png");
    background-color: gray;
    background-size: 100px;
}

.bookcover{
   margin:100px auto;
    background-color:lightblue;
    background-size: 100px;
    width: 960px;
    height: 660px;
    border-radius: 9px;
    position: relative;

}

.bookdot{
    border: dashed ;
    border-radius: 9px;
    color: beige;
    
    position: absolute;
    top:15px;
    left:15px;
    right: 15px;
    bottom: 15px;

    

    
}

.page{
    
    background-color:lightgrey;
    width: 900px;
    background-size: 100px;
    height: 600px;
    border-radius: 9px;
    position: absolute;
    top: 13px;
    left: 13px;
    right: 15px;
    bottom: 15px;

    display:flex;
    


} 

.righttext{
    flex:0.29;
     display: flex;
   
}

.righttext1{
    flex:0.6;
    color:black;
    font-size: 14px;
    padding-top: 15px;

    text-align: center;
}
.menu{
   flex:0.1;
   

   margin-right: 15px;
   margin-top: 10px;
   margin-bottom: 15px;
}


.in{

    font-family: 'DungGeunMo';
    color:black;
    flex:0.2;
    font-size: 15px;

    text-align: center;
   padding-top: 15px;
}

.display{
    flex:3;

   
    display:flex;
}

.left1{

    
    flex:0.3;

    display: flex;
    flex-direction: column;
}
.left{
    flex:3;
    border-radius: 9px;
    background-color: white;

 
    display:flex;
    flex-direction: column;
        margin-right: 15px;
        margin-bottom: 15px;
        margin-left:15px;
}

.right1{

    
    flex:0.7;

    display: flex;
    flex-direction: column;
}
.right{
    border-radius: 9px;
    flex:3;
    background-color: white;
    

    margin-bottom: 15px;

    display:flex;
    flex-direction: column;
   
    overflow-x: hidden;
    overflow-y: auto;
}

.menu1{
   
    color: black;
    font-family: 'DungGeunMo';
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    text-align: left;

    
}

.img1{

    width: 480px;
   margin: 30px;
   margin-bottom: 10px;
   
}


.text1{ 
    margin-bottom: 30px;
    color: black;
    font-family: 'DungGeunMo';
    padding: 10px;
    text-align: left;
    margin-bottom: 50px;
}
.list1{

    margin-left: 13px;
    color:black;
    font-size: 13px;
    margin-bottom: 5px;

    
}
.listmenu{
    flex:0.5;
   font-size: 13px;
    color:black;

    display:flex;
    flex-direction: column;
}

.listmenu1{
    border-bottom: 1px dashed grey ;
    margin-bottom: 3px;
    margin-right: 10px;
}
.list2nd{
    margin-left: 10px ;
}


.photoshoot{
    background-color: red;
    border-radius: 3px;
    color:aliceblue;
    font-size: 13px;
    font-weight:100;
    font-family: 'DungGeunMo';
    padding:2px;

}


.board{
    background-color:royalblue;
    border-radius: 3px;
    color:aliceblue;
    font-size: 13px;
    font-weight: 100;
    font-family: 'DungGeunMo';
    padding:3px;

}
.miniroom{

    flex:0.05;
    margin:10px;
    margin-bottom: 0px;
    
     color:black; border-bottom: 1px solid grey;
}

.music{
    font-size: 20px;
    margin-bottom: 10px;

}
.miniroomimg{
    flex:0.9;
   background-image: url("미니룸.PNG");
    
   margin: 10px;
   margin-top: 0px;
    background-size: cover;
}

.font{
    font-family: 'DungGeunMo';
    color:navy;
    font-size: 15px;
}

select{
    font-family: 'Cafe24SsurroundAir';
   text-align: center;
   margin-left: 30px;
    margin-bottom: 40px ;
    padding: 5px;
   
}


.button{
    background-color:steelblue;

    font-family: 'DungGeunMo';
    border-bottom-right-radius: 6px ;
    border-top-right-radius: 6px ;
    width: 90px;
    color:white;
    text-align: left;
    margin-top: 15px;
    height: 30px;

}

.button:hover{
    background-color:navy;
}

.intro{
    font-family: 'DungGeunMo';
    color: black;
    font-size: 13px;
    margin-left: 30px;
    margin-bottom: 7px;
}

a{
    color: white;
    text-decoration: none;
}